<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<nav class="fly-header layui-bg-black" th:fragment="topbar">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img th:src="@{/images/logo.png}" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item">
        <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
      <li class="layui-nav-item">
        <!--        <a th:href="case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>-->
      </li>
      <li class="layui-nav-item">
        <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
      </li>
    </ul>

    <ul class="layui-nav fly-nav-user">

      <!-- 未登入的状态 -->
        <li class="layui-nav-item" sec:authorize="!isAuthenticated()">
          <a class="iconfont icon-touxiang layui-hide-xs" href="/user/toLogin"></a>
        </li>
        <li class="layui-nav-item" sec:authorize="!isAuthenticated()">
          <a href="/user/toLogin">登入</a>
        </li>
        <li class="layui-nav-item" sec:authorize="!isAuthenticated()">
          <a href="/user/toReg">注册</a>
        </li>
        <li class="layui-nav-item layui-hide-xs" sec:authorize="!isAuthenticated()">
          <a href="/app/qq" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入" class="iconfont icon-qq"></a>
        </li>
        <li class="layui-nav-item layui-hide-xs" sec:authorize="!isAuthenticated()">
          <a href="/app/weibo" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入" class="iconfont icon-weibo"></a>
        </li>

      <!-- 登入后的状态 -->
        <li class="layui-nav-item" sec:authorize="isAuthenticated()">
          <a class="fly-nav-avatar" href="javascript:">
            <cite class="layui-hide-xs" th:text="${session.loginUser.getUsername()}"></cite>
            <i class="iconfont icon-renzheng layui-hide-xs" title="Fly 认证"></i>
            <i class="layui-badge fly-badge-vip layui-hide-xs" th:text="'VIP' + ${session.loginUser.getLevel()}"></i>
            <img th:src="@{${session.loginUser.getAvatar()}}">
          </a>
          <dl class="layui-nav-child">
            <dd><a th:href="'/user/home/' + ${session.loginUser.getUsername()}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
            <dd><a href="/user/index"><i class="iconfont icon-user">&#xe620;</i>用户中心</a></dd>
            <dd><a href="/user/set"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
            <dd><a href="/user/message"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
            <hr style="margin: 5px 0;">
            <dd><a href="/user/logout" style="text-align: center;">退出</a></dd>
          </dl>
        </li>
    </ul>
  </div>
</nav>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
