<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <title>用户中心</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>

<div th:replace="~{common/header::topbar}"></div>

<div class="layui-container fly-marginTop fly-user-main">
  <ul th:replace="~{common/user-nav::left1(active='index')}"></ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>


  <div class="fly-panel fly-panel-user" pad20>
    <!--
    <div class="fly-msg" style="margin-top: 15px;">
      您的邮箱尚未验证，这比较影响您的帐号安全，<a href="activate.html">立即去激活？</a>
    </div>
    -->
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
        <li data-type="mine-jie" lay-id="index" class="layui-this">我发的帖（<span>[[${postList.size()}]]</span>）</li>
        <li data-type="collection" data-url="/collection/find/" lay-id="collection">我的粉丝（<span>[[${fanList.size()}]]</span>）</li>
        <li data-type="collection" data-url="/collection/find/" lay-id="collection">我关注的人（<span>[[${followList.size()}]]</span>）</li>
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <ul class="mine-view jie-row" th:if="${postList} != null">
            <li th:each="post:${postList}">
              <a class="jie-title" th:href="'/post/detail/' + ${post.getId()}" target="_blank">[[${post.getTitle()}]]</a>
              <i>[[${#dates.format(post.getCreateTime(), 'yyyy-MM-dd HH:mm:ss')}]]</i>
              <a class="mine-edit" href="/jie/edit/8116">编辑</a>
              <em>[[${post.getView()}]]阅/[[${post.getReply()}]]答</em>
            </li>
          </ul>
          <div id="LAY_page"></div>
        </div>
        <div class="layui-tab-item">
          <ul class="fly-list">
            <li th:each="fanUser:${fanList}">
              <a th:href="'/user/home/' + ${fanUser.getUsername()}" th:text="${fanUser.getUsername()}"></a>
              </h2>
              <div class="fly-list-info">
                <a th:href="'/user/home/' + ${fanUser.getUsername()}" link>
                  <cite th:text="TA的主页"></cite>
                  <i class="layui-badge fly-badge-vip" th:text="'VIP' + ${fanUser.getLevel()}"></i>
                </a>
                <i class="iconfont icon-nan" th:if="${fanUser.getSex()==1}"></i>
                <i class="iconfont icon-nv" th:if="${fanUser.getSex()==0}"></i>
                <!--                <span th:text=""></span>-->
                <span th:text="'加入时间 ' + ${#dates.format(fanUser.getCreateTime(), 'yyyy-MM-dd')}"></span>
              </div>
            </li>
          </ul>
        </div>
        <div class="layui-tab-item">
          <ul class="fly-list">
            <li th:each="followUser:${followList}">
<!--              <a class="fly-avatar" th:href="'/user/home/' + ${followUser.getUsername()}">-->
              <!--<span></span>
              <img th:src="@{${followUser.getAvatar()}}" th:alt="${followUser.getUsername()}" style="height: 30px; width: 30px">
              </span><span>
              <a th:href="'/user/home/' + ${followUser.getUsername()}" link th:text="${followUser.getUsername()}"></a>
              </span><span>
              <i class="iconfont icon-nan" th:if="${followUser.getSex()==1}"></i>
              </span><span>
              <i class="iconfont icon-nv" th:if="${followUser.getSex()==0}"></i>
              </span><span>
              <i class="layui-badge fly-badge-vip" style="color: white" th:text="'VIP' + ${followUser.getLevel()}"></i>
              </span>-->

              <a th:href="'/user/home/' + ${followUser.getUsername()}" class="fly-avatar">
                <img th:src="@{${followUser.getAvatar()}}"
                     th:alt="${followUser.getUsername()}">
              </a>
              <h2>
                <!--/*@thymesVar id="getTypeStr" type="com.tjc.pojo.Post"*/-->

                <a th:href="'/user/home/' + ${followUser.getUsername()}" th:text="${followUser.getUsername()}"></a>
              </h2>
              <div class="fly-list-info">
                <a th:href="'/user/home/' + ${followUser.getUsername()}" link>
                  <cite th:text="TA的主页"></cite>
                  <i class="layui-badge fly-badge-vip" th:text="'VIP' + ${followUser.getLevel()}"></i>
                </a>
                <i class="iconfont icon-nan" th:if="${followUser.getSex()==1}"></i>
                <i class="iconfont icon-nv" th:if="${followUser.getSex()==0}"></i>
<!--                <span th:text=""></span>-->
                <span th:text="'加入时间 ' + ${#dates.format(followUser.getCreateTime(), 'yyyy-MM-dd')}"></span>
              </div>
            </li>
          </ul>
          <!--<ul class="mine-view jie-row">
            <li>
              <a class="jie-title" href="../post/detail.html" target="_blank">基于 layui 的极简社区页面模版</a>
              <i>收藏于23小时前</i>  </li>
          </ul>
          <div id="LAY_page1"></div>-->
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{common/footer::footer}"></div>

<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../static/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '../../static/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>
